@import url('https://fonts.googleapis.com/css2?family=Cinzel&display=swap');

body {
    font-family: sans-serif;
    background-color: #eee;
    display: flex;
    flex-direction: column;
    color: #000;
}

div#content {
    flex: 1;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

h1 {
    font-size: 1.75rem;
    padding: 0;
    margin: 0;
    display: block;
    clear: both;
}

h2 {
    font-size: 1.5rem;
    padding: 0;
    margin: 0;
    clear: both;
}
h3 {
    font-size: 1.25rem;
    float: left;
    clear: left;
}

nav {
    display: block;
    clear: both;
    text-align: center;
}

nav ol {
    list-style: none;
}

nav li {
    display: block;
    width: auto;
    float: left;
    margin: 0;
    padding: 0;
    overflow: auto;
}

nav a {
    display: inline-block;
    padding: 0.5rem;
    border-bottom: 1px solid black;
}

nav a.active {
    border: 1px solid black;
    border-bottom: none;
}

div.example {
    margin: 0.5em;
    padding: 1em;
    background-color: #eee;
    clear: both;
    overflow: auto;
    display: none;
}

div.example.active {
    display: block;
}

div.example.active h2 {
    display: none;
}

div.controlset {
    overflow: auto;
}
div.control {
    padding: 0.5em;
    float: left;
}

div.output {
    padding: 0.5em;
    clear: both;
}

#finalMap {
    float: right;
}

button {
    font-size: large;
    background-color: white;
    color: black;
    border-radius: 0.5rem;
    border: 1px solid black;
    margin-right: 0.5rem;
    margin-bottom: 0.5rem;
    width: auto;
    float: left;
    clear: left;
}

button:hover {
    background-color: black;
    color: white;
}

input,
select {
    font-size: large;
    background-color: white;
    color: black;
    border-radius: 0.5rem;
    border: 1px solid black;
    margin-right: 0.5rem;
    margin-bottom: 0.5rem;
    float: left;
    clear: left;
}

figcaption {
    text-align: center;
}

div:focus-visible {
    outline: none;
    border: none;
}

.labelNote span {
    font-family: fantasy;
    /* font-family: "Cinzel", serif; */
}

svg {
    float: right;
    background-color: white;
    outline: 3px solid black;
}


path,
line {
    fill: none;
    stroke: black;
    stroke-linecap: round;
}

path.wreck  {
    fill: black;
    stroke: white;
}
path.ripples {
    fill: white;
    stroke: black;
}

.placedMarker {
    fill: red;
    stroke: white;
}

.field {
    stroke: none;
    fill-opacity: 1.0;
}

.slope {
    stroke-width: 1;
}

.river {
    stroke-width: 2;
    /* stroke: blue; */
}

.coast {
    stroke-width: 4;
}

.border {
    stroke-width: 5;
    stroke-dasharray: 4, 4;
    stroke-linecap: butt;
    /* stroke: red; */
}

text {
    /* font-family: fantasy; */
    font-family: "Cinzel", "Palatino Linotype", "Book Antiqua", Palatino, serif;
    color: black;
    stroke: white;
    stroke-width: 5;
    stroke-linejoin: round;
    paint-order: stroke;
}

.labelStyle_default text {
    font-family: "Cinzel", serif;
}
.labelStyle_cursive text {
    font-family: cursive;
}
.labelStyle_monospace text {
    font-family: monospace;
}
.labelStyle_fantasy text {
    font-family: fantasy;
}

text.region {
    stroke-width: 10;
    font-variant: small-caps;
}

text.poi {
    font-family: sans-serif;
    fill: black;
}

/* Label editing mode */

.editable::before {
    content: 'Edit mode active - click a map label to edit it';
    color: green;
    font-weight: bold;
}

[contenteditable=true] svg,
.editable svg{
    outline: 3px solid green;
    cursor: default;
}

.editable text.region:hover,
.editable text.city:hover {
    cursor: text;
    fill: green;
}

.editable text.region:hover::after,
.editable text.city:hover::after {
  content: ' click to edit';
  font-style: italic;
  font-size: 12px;
  color: green;
}

.editable text:focus,
.editable text:focus-visible,
.editable text:focus-within {
    outline: 1px solid green;
    color: green;
}

/* Clickable mode */

.clickableMode svg{
    outline: 3px solid blue;
    cursor: copy;
}

.clickableMode::before {
    content: 'Clickable mode active - click to add a treasure marker cross';
    color: blue;
    font-weight: bold;
}

/* Dragable mode */

.dragableMode svg{
    outline: 3px solid purple;
}

.dragableMode::before {
    content: 'Dragable mode active - drag points of interest, wrecks, or treasure markers to reposition them';
    color: purple;
    font-weight: bold;
}

.dragableMode text.poi,
.dragableMode use.wreck,
.dragableMode path.wreck,
.dragableMode path.placedMarker {
    color: purple;
    fill: purple;
}
.dragableMode path.ripples {
    stroke: purple;
}


.dragableMode text.poi:hover,
.dragableMode use.wreck:hover,
.dragableMode path.wreck:hover,
.dragableMode path.ripples:hover,
.dragableMode path.placedMarker:hover {
    cursor: grab;
}

/* Delete mode */

.deleteMode svg{
    outline: 3px solid red;
}

.deleteMode::before {
    content: 'DANGER: Delete mode active - click a map marker to delete it';
    color: red;
    font-weight: bold;
}

.deleteMode text.poi,
.deleteMode use.wreck,
.deleteMode path.wreck,
.deleteMode path.placedMarker {
    color: red;
    fill: red;
}

.deleteMode path.ripples {
    stroke: red;
}

.deleteMode text.poi:hover,
.deleteMode use.wreck:hover,
.deleteMode path.placedMarker:hover {
    cursor: not-allowed;
}

